:root {
    --background_color: #FFFFFFFF;
    --canvas_color: #FFFFFFFF;
    --shadow_color: #00000011;
    --font_color: #000000FF;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
}

#main_canvas {
    background-color: var(--canvas_color);
    position: absolute;
    top: var(--canvas_y_pos);
    left: var(--canvas_x_pos);
}

#canvas_title {
    position: absolute;
    top: var(--title_y_pos);
    right: var(--title_x_pos);
}